In [59]:
#***********************************
# TASK 1: Connection to the dabatase 
#***********************************

# 1.Establish a connection
# Import MySQL Connector/Python 
import mysql.connector as connector
connection = connector.connect(user="admin1", password="R0drig0#", db="LittleLemonDB")
print("Connection SET")

# 2. Create a cursor
cursor = connection.cursor()
print("Cursor SET")


# 3. Set database for use
cursor.execute("USE LittleLemonDB")
print("Using LittleLemonDB SET")

Connection SET
Cursor SET
Using LittleLemonDB SET

In [60]:
#********************************
# TASK 2: Show tables in database 
#********************************
print("Tables in database, and OrdersView")
print("----------------------------------")
show_tables_query="""SHOW TABLES;"""
cursor.execute(show_tables_query)
results = cursor.fetchall()
for x in results:
    print (x)

Tables in database, and OrdersView
----------------------------------
('Bookings',)
('Customers',)
('Desserts',)
('Drinks',)
('MenuItems',)
('Menus',)
('Orders',)
('OrdersView',)
('Staff',)

In [61]:
#*******************************************************************
# TASK 3: Full name and contact details for clients with orders > 60 
#*******************************************************************

In [62]:
print("Promotion Data: Name and contact details for clients with orders over $60")
print("-------------------------------------------------------------------------")
orders_60plus_query = """
SELECT Customers.CustomerName, Customers.PhoneNumber, Customers.Email, Customers.City, Customers.State, 
Orders.TotalCost AS Bill
FROM Customers INNER JOIN Orders ON Orders.CustomerID = Customers.CustomerID 
WHERE TotalCost > 60;
"""

cursor.execute(orders_60plus_query)
for results2 in cursor:
    print(results2)

Promotion Data: Name and contact details for clients with orders over $60
-------------------------------------------------------------------------
('Michael Smith', '555-555-0004', 'michael@example.com', 'Miami', 'Florida', Decimal('100.80'))
('Sarah Johnson', '555-555-0005', 'sarah@email.com', 'Houston', 'Texas', Decimal('341.60'))
('Emily Davis', '555-555-0006', 'emily@example.com', 'San Francisco', 'California', Decimal('72.80'))
('Laura Martinez', '555-555-0008', 'laura@email.com', 'Dallas', 'Texas', Decimal('93.80'))
('Maria Rodriguez', '555-555-0002', 'maria@email.com', 'Los Angeles', 'California', Decimal('291.20'))
('Sophie Baker', '555-555-1011', 'sophie@email.com', 'New Orleans', 'Louisiana', Decimal('151.20'))
('Ethan King', '555-555-1008', 'ethan@email.com', 'Dallas', 'Texas', Decimal('65.80'))
('James Miller', '555-555-1012', 'james@vvvemail.com', 'San Francisco', 'California', Decimal('109.20'))
('Olivia Garcia', '555-555-1013', 'olivia@email.com', 'Phoenix', 'Arizona', Decimal('235.20'))